div.content_box {
    border-radius: 15px;
    background-color: #CCD5FF;
    padding: 20px;
    width: fit-content;
    height: fit-content;
}

div.book_preview {
    border-radius: 10px;
    background-color: #838E83;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}