.review {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.star-rating {
    direction: rtl; 
    font-size: 0;
}

.star-rating input[type="radio"] {
    display: none; 
}

.star-rating label {
    font-size: 2em;
    color: #ddd; 
    cursor: pointer;
}
.star-rating input[type="radio"]:checked ~ label {
    color: #ffc700; 
}
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ffc700; 
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #111;
}

.add-review-button {
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #5cb85c; 
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.add-review-button:hover {
    background-color: #4cae4c; 
}

div.content_box {
    border-radius: 15px;
    background-color: #CCD5FF;
    padding: 20px;
    width: fit-content;
    height: fit-content;
}

div.book_preview {
    border-radius: 10px;
    background-color: #838E83;
    padding: 10px;
    width: fit-content;
    height: fit-content;

}

body, html {
    background-color: #f5f5dc; 
    color: #333; 
    font-family: Arial, sans-serif; 
}

.container-fluid {
    padding: 20px;
}

.search-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-bar input[type="text"] {
    width: 60%;
    padding: 8px;
}

.search-bar button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
    height: auto; 
}

figcaption {
    text-align: center; 
}

footer {
    display: flex;
    justify-content: start; 
    padding: 20px 0; 
}

footer div {
    margin-right: 40px; 
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

footer li {
    text-align: left; 
    margin-bottom: 10px; 
}

.small-img {
    width: 50px; 
    height: 50px; 
    margin-right: 10px;
}
