<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>
            Books - 
            {% block title_block %}
                Here is your basic book page
            {% endblock %}
        </title>
        <link rel="stylesheet", href="{% static 'LibroLink/css/styles.css' %}">
    </head>
    <body>
        <div>
            {% block nav_bar %}
            <nav>
                <a href="{% url 'LibroLink:index' %}"><h2>LibroLink</h2></a>
                <h2>{{ page.name }}</h2>
                <a href="{% url 'LibroLink:profile' %}">
                    <img class="small-img" src="{% static 'images/userProfileIcon.png' %}" alt="User Profile Picture Placeholder"/>
                </a>
                <img class="small-img" src="{% static 'images/hamburgerButton.png' %}" alt="Dropdown Menu" />
            </nav>
            {% endblock %}
        </div>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        <hr />

        <footer>
            <div style="display: flex; justify-content: space-between;">
                <div>
                    <ul style="list-style-type: none; padding: 0;">
                        <li><a href="{% url 'LibroLink:help_support' %}">Help & Support</a></li>
                        <li><a href="{% url 'LibroLink:privacy' %}">Privacy Policy</a></li>
                    </ul>
                </div>
                <div>
                    <ul style="list-style-type: none; padding: 0;">
                        <li><a href="{% url 'LibroLink:register' %}">SignUp</a></li>
                        <li><a href="{% url 'LibroLink:login' %}">Login</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>