<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>
            Books - 
            {% block title_block %}
                Here is your basic book page
            {% endblock %}
        </title>
        <link rel="stylesheet", href="{% static 'LibroLink/css/styles.css' %}">
    </head>
    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        <hr />

        <footer>
            <div style="display: flex; justify-content: space-between;">
                <div>
                    <ul style="list-style-type: none; padding: 0;">
                        <li><a href="/help_support/">Help & Support</a></li>
                        <li><a href="/privacy/">Privacy Policy</a></li>
                    </ul>
                </div>
                <div>
                    <ul style="list-style-type: none; padding: 0;">
                        <li><a href="{% url 'LibroLink:register' %}">SignUp</a></li>
                        <li><a href="{% url 'LibroLink:login' %}">Login</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>