{% extends 'LibroLink/base.html' %}
{% load static %}
{% load extras %}

{% block title_block %}
    Featured
{% endblock %}

<!-- featured pages, which have their own featured books -->
{% block body_block %}
    <div class="content_box">
        <h1>Popular Books</h1>
        <div class="flex_box">
            {% for book in books %}
                <div class="book_preview">
                    <div class="book_info">
                        <p style="color: whitesmoke;">Title: {{ book.title }}</p>
                        <p style="color: whitesmoke;">Author: {{ book.author }}</p>
                        <p style="color: whitesmoke;">Publisher: {{ book.publisher }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}