{% extends 'LibroLink/base.html' %}
{% load static %}
{% load extras %}

{% block title_block %}
    Featured
{% endblock %}

<!-- featured pages, which have their own featured books -->
{% block body_block %}
    <div class="content_box">
        <h1>Popular Books</h1>
        <div class="flex_box">
            {% for book in books %}
                <div class="book_preview">
                    <div>
                        <img src="{% static 'images/books.jpg' %}" alt=book.title height="100px"/>
                    </div>
                    <div class="book_info">
                        <p>{{ book.title }}</p>
                        <p>{{ book.author }}</p>
                        <p>{{ book.publisher }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}