{% extends 'LibroLink/base.html' %}
{% load staticfiles %}
{% load extras %}

{% block title_block %}
    Featured
{% endblock %}

<!-- featured pages, which have their own featured books -->
{% block body_block %}
    {% for page in pages %}
        <div class="content_box">
            <h1>{{ page.name }}</h1>
            {% for book in books|get_item:page %}
                <div class="book_preview">
                    <img src="{% static 'images/books.jpg' %}" alt=book.name height="100px"/>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}