{% extends 'LibroLink/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Help & Support
{% endblock %}

{% block body_block %}
<main class="container" style="padding: 20px; background-color: #f5f5dc;">
    <h2>Help & Support</h2>
    <p>Welcome to our Help & Support page. Here you can find answers to common questions and get assistance with your account, reading platform features, and more.</p>
    
    <h3>Account Assistance</h3>
    <p>If you're encountering issues with your account, such as login problems, password resets, or account settings adjustments, we're here to help. Our support team can guide you through the process to ensure smooth access to your account.</p>
    
    <h3>Reading Platform Features</h3>
    <p>Discover how to make the most of LibroLink's reading platform features. From navigating the library and accessing your favorite genres to customizing your reading preferences and managing your bookshelf, we'll provide comprehensive assistance to enhance your reading journey.</p>
    
    <h3>Technical Support</h3>
    <p>Encountering technical difficulties? Don't worry, our technical support team is ready to troubleshoot any issues you may face while using our platform. Whether it's troubleshooting app crashes, resolving compatibility issues, or addressing connectivity problems, we're dedicated to resolving your concerns promptly.</p>
    
    <h3>Contact Us</h3>
    <p>If you can't find the answers you're looking for or need further assistance, don't hesitate to reach out to our support team. You can contact us via email, send an email to: <strong>2741773z@student.gla.ac.uk</strong>. We're committed to providing timely and personalized support to address your concerns and ensure a seamless reading experience.</p>
    
    <p>Thank you for choosing LibroLink. We're here to support you every step of the way on your reading journey.</p>
</main>
{% endblock %}
