{% extends 'LibroLink/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Privacy Policy
{% endblock %}

{% block body_block %}
<main class="container" style="padding: 20px; background-color: #f5f5dc;">
    <h2>Privacy Policy</h2>
    <p>This Privacy Policy outlines how we collect, use, protect, and disclose your information across our platform. We are committed to protecting your privacy and ensuring you have a positive experience on our platform.</p>
    <!-- more content -->
</main>
{% endblock %}
