{% extends 'LibroLink/base.html' %}  
{% load static %}

{% block title_block %} 
    <link rel="stylesheet" type = "text/css" href="{% static 'LibroLink/css/profilePageStyles.css' %}">
    <title>Profile</title>
{% endblock %} 

{% block body_block %}
    
    <div id="topLogoDiv">
        {% if user_profile.picture %}
            <img src="{{ user_profile.picture.url }}" alt="Profile Picture" id="mainImage">
        {% else %}
            <img src="{% static '\images\userProfileIcon.png' %}" alt="Default Profile Picture" class="mainProfileImage" id="mainImage">
        {% endif %}

        <h1 id="mainUsername">You are logged in as {{ user_profile.user.username }}</h1>
    </div>

    <div id="mainContentDiv">
    
    <h2 class ="profileTitles">Email: </h2> 
    <h2 class ="profileValues">{{ user_profile.user.email }}</h2>
    
    </div>
    
{% endblock %} 