{% extends 'LibroLink/base.html' %}  
{% load staticfiles %}

{% block title_block %} 
    User Profile
{% endblock %} 

{% block body_block %}
<link rel="stylesheet" type = "text/css" href="{% static 'LibroLink/css/profilePageStyles.css' %}">
    <div id="topLogoDiv">
        {% if user_profile.picture %}
            <img src="{{ user_profile.picture.url }}" alt="Profile Picture" id="mainImage">
        {% else %}
            <img src="{% static '\images\userProfileIcon.png' %}" alt="Default Profile Picture" class="mainProfileImage" id="mainImage">
        {% endif %}

        <h1 id="mainUsername">{{ user_profile.user.username }}</h1>
    </div>

{% endblock %} 