<!DOCTYPE html>
{% extends 'rango/base.html' %}

    <html>

        <head>
            <title>Profile</title>
        </head>

        <body>
            <div>    
                <img src="{{ MEDIA_URL }}placeholderUserIcon.jpg" alt="User Profile Picture Placeholder"/>
                <p>Change Profile Picture</p>
            </div>

            <div>
                <h2>My Books</h2>
            </div>

            <div>
                <h2>Friends</h2>
            </div>

            <div>
                <h2>Categories</h2>
                {% if categories %}
                <ul>
                {% for category in categories %}
                    <li>
                        <a href="{% url 'LibroLink:show_category' category.slug $}">
                        {{ category.name }}
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <strong>You are not currently subscribed to any categories.</strong>
            {% endif %}

        </div>

        </body>

    </html>