<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>
            Books - 
            {% block title_block %}
                Here is your basic book page
            {% endblock %}
        </title>
        <link rel="stylesheet", href="{% static 'rango/css/styles.css' %}">
    </head>
    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        <hr />
        <div>
            <!-- fill this in later -->
            Register below:
            <li><a href="{% url 'rango:register' %}">SignUp</a></li>
            Or:
            <li><a href="{% url 'rango:login' %}">Login</a></li>
        </div>
    </body>
</html>