{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
<h1>Welcome to Rango Reading Platform</h1>
<p>Please start reading and share with your friends!</p>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/books/">Books</a></li>
        <li><a href="/user/">User Center</a></li>
        <li><a href="{% url 'rango:register' %}">SignUp</a></li>
    </ul>
</nav>

<h1>Discover More</h1>
<strong>{{ boldmessage }}</strong><br />
<div>
    <li><a href="/books/best/">Best Books!</a></li>
    <img src="{% static 'images/books.jpg' %}"
         alt="Picture of Books"/>
<br />
</div>

<div>
<a href="/help_support/">Help and Support</a><br />
</div>
{% endblock %}
